version: "3.9"

services:
  frontend:
    container_name: app-frontend
    image: shaproof/frontend-vue:latest
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`tasklist.elerig.fr`)"
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.services.frontend.loadbalancer.server.port=8080"

  backend:
    container_name: app-backend
    image: shaproof/backend-app:dev
    restart: unless-stopped
    environment:
      - DB_HOST=app-db
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_NAME=tasksdb
      - PORT=5000
      - HOST=0.0.0.0
    networks:
      - proxy
    depends_on:
      - database
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`tasklist.elerig.fr`) && PathPrefix(`/api`)"
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.services.backend.loadbalancer.server.port=5000"


  database:
    container_name: app-db
    image: shaproof/my-mariadb:latest
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=123456
      - MARIADB_DATABASE=tasksdb
    volumes:
      - ./db-data:/var/lib/mysql
    networks:
      - proxy

networks:
  proxy:
    external: true
