name: Deployement Workflow
 
on:
  push:
    branches: ["main"]
  workflow_dispatch: # permet d'avoir un bouton "Run Workflow" sur GitHub dans la section Actions
 
jobs:
  Deploy-Docker-Infra:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Deploy on remote server
        uses: appleboy/ssh-action@v1.2.0
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          envs: GH_TOKEN
          script: |
            # 1. Se déplacer dans le répertoire sur le serveur
            cd ~/srv/traefik
            # 2. Supprimer l'ancien dossier pour éviter les conflits
            rm -rf Serveur-Internet-Sample-Project
            # 3. Cloner votre répertoire en utilisant le token
            git clone https://$GH_TOKEN@github.com/Wmartel31/Serveur-Internet-Sample-Project.git
            # 4. Lancer votre infrastructure
            docker compose up -d --build
