version: "3.9"

services:
  frontend:
    container_name: app-frontend
    image: shaproof/frontend-vue:latest
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`${TASKLIST_SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.middlewares=tinyauth"
      - "traefik.http.services.frontend.loadbalancer.server.port=${FRONT_PORT}"

  backend:
    container_name: app-backend
    image: shaproof/backend-app:dev
    restart: unless-stopped
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - PORT=${BACK_PORT}
      - HOST=0.0.0.0
    networks:
      - proxy
    depends_on:
      - database
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`${TASKLIST_SUBDOMAIN}.${DOMAIN}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls=true"
      - "traefik.http.services.backend.loadbalancer.server.port=${BACK_PORT}"

  database:
    container_name: app-db
    image: shaproof/my-mariadb:latest
    restart: unless-stopped
    environment:
      - MARIADB_ROOT_PASSWORD=${DB_PASSWORD}
      - MARIADB_DATABASE=${DB_NAME}
    networks:
      - proxy

networks:
  proxy:
    external: true
